:root {
  --primary--iris-color: #4d5ae5;
  --button-ocean-color: #404bbf;
  --dark--navy-color: #2e2f42;
  --success-green-color: #31d0aa;
  --text-slate-color: #434455;
  --subtle-lslate-color: #8e8f99;
  --accent-corn-color: #e7e9fc;
  --light-cloud-color: #f4f4fd;
  --navy-blue-modal-color: #2e2f42;
  --white-background: #ffffff;
  --dairy-modal-background: #fcfcfc;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-background);
  color: var(--text-slate-color);
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* -------Header ----------- */
.header {
  border-bottom: 1px solid var(--accent-corn-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-logo {
  color: var(--primary--iris-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-list {
  color: var(--dark--navy-color);
  font-weight: 500;
  display: flex;
  gap: 40px;
}

.header-logo span {
  color: var(--dark--navy-color);
  font-weight: 800;
}

.header-list-item {
  color: var(--navy-blue-modal-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.header-menu-link {
  color: var(--navy-blue-modal-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  cursor: pointer;
  padding: 24px 0 24px;
  display: block;
}

.header-menu-link:focus {
  color: var(--button-ocean-color);
}

.header-menu-link:hover {
  color: var(--button-ocean-color);
}

.header-address {
  font-style: normal;
  cursor: pointer;
  font-weight: 400;
}

.header-address-item {
  font-style: normal;
  cursor: pointer;
  font-weight: 400;
}

.header-address-item-link {
  font-style: normal;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
}
.header-address-item-link:hover {
  color: var(--button-ocean-color);
  text-decoration: underline;
  font-style: normal;
}

.header-address-item-link:focus {
  color: var(--button-ocean-color);
}

/* -----------HERO--------------------- */
.hero {
  background-color: var(--navy-blue-modal-color);
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  /* height: 480px; */
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('/images/svg/people-office-1.svg');
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  color: var(--white-background);
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  margin-bottom: 48px;
  margin: 0 auto;
  max-width: 496px;
}

.hero-btn {
  background-color: var(--primary--iris-color);
  color: var(--white-background);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: 48px auto;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
}

.hero-btn:hover {
  background-color: var(--button-ocean-color);
}

.hero-btn:focus {
  background-color: var(--button-ocean-color);
}

/*--------ATTRIBUTES----------  */
.attributes {
  padding-top: 120px;
  padding-bottom: 120px;
}
.attribites-list {
  display: flex;
  gap: 24px;
}
.attribites-item {
  width: calc((100% - 24px * 3) / 4);
}

.attributes-titel {
  color: var(--navy-blue-modal-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.attributes-text {
  color: var(--text-slate-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.icon-attributes {
  background-color: var(--light-cloud-color);
  border-radius: 4px;
  width: 100%;
  padding: 24px 100px;
}
.icon-before-attributes {
  background-position: center;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
}
/* -----------PRODUCTS--------- */
.products {
  padding-bottom: 120px;
}
.products-titel {
  color: var(--navy-blue-modal-color);
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  min-width: 323px;
  margin: 0 auto;
  margin-bottom: 72px;
}
.products-list {
  display: flex;
  gap: 24px;
}

.products-list-item {
  background-color: var(--accent-corn-color);
  border: 1px solid var(--accent-corn-color);
  /*when the image is not right the problem is a space between % and minus*/
  width: calc((100%-48px) / 3);
}

/* -----------TEAM-------------------- */
.team {
  background-color: var(--light-cloud-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  color: var(--navy-blue-modal-color);
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-list {
  background-color: var(--white-background);
  width: calc((100% - 72px) / 4);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name-description {
  padding: 32px 0;
}
.team-list-name {
  color: var(--navy-blue-modal-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-list-decription {
  text-align: center;
}
.icons-teams-list {
  margin-top: 8px;
}
.icons-team {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.icon-list {
  width: calc((100%-72px) / 4);
}
.icons-social-media {
  width: 16px;
  height: 16px;
  background-color: var(--primary--iris-color);
  border-radius: 50%;
}

/* --------Customers ---------------------- */
.customers {
  background-color: var(--white-background);
}

.customers-title {
  color: var(--dark--navy-color);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  justify-content: center;
  margin: 120px auto 72px auto;
}

.customers-list {
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-list-item {
  width: calc((100%-120px) / 6);
  border-radius: 4px;
  border: 1px solid var(--subtle-lslate-color);
}
.customers-item {
  width: 168px;
  height: 88px;
  padding: 16px 32px;
}

/* --------FOOOTER--------------------- */
.footer {
  background-color: var(--navy-blue-modal-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-link {
  color: var(--primary--iris-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 16px;
  margin-left: 156px;
}

.footer-link span {
  color: var(--light-cloud-color);
}

.footer-text {
  color: var(--light-cloud-color);
  width: 264px;
  margin: 0 120px 100px 156px;
}

.footer-items {
  display: inline-flex;
  gap: 120px;
}
.container {
}
.footer-container {
}

.footer-social-media > h4 {
  color: var(--white-background);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 16px;
}

.footer-icon-list {
}
.footer-media {
  display: flex;
  gap: 16px;
}

.footer-media-list {
  width: 40px;
  height: 40px;
}
.footer-media-item {
}

/* --------PORTFOLIO------------ */

/* ----------FILTER LIST BUTTONS */
.filter {
  padding: 96px 0 120px 0;
}

.filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  gap: 24px;
}

.filter-list-item {
  display: flex;
}

.filter-list-btn {
  color: var(--primary--iris-color);
  background-color: var(--light-cloud-color);
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid var(--accent-corn-color);
  padding: 12px 24px;
  border-radius: 4px;
}

.filter-list-btn:hover {
  color: var(--white-background);
  background-color: var(--button-ocean-color);
  border: 1px solid transparent;
}

.filter-list-btn:focus {
  color: var(--white-background);
  background-color: var(--button-ocean-color);
  border: 1px solid transparent;
}

/* ----------APPS---------------------- */
.apps-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  width: calc((100% - 48px) / 3);
}

.apps-container {
  padding: 32px 16px;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
}

.apps-list-titel {
  color: var(--navy-blue-modal-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  cursor: pointer;
  margin-bottom: 8px;
}

.apps-list-desc {
  color: var(--text-slate-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
